 .container {
   width: 100%;
 }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; 

}

.footer {
  background-color: deepskyblue;
  margin: 0px auto;
  padding: 20px 0px; 
}

.jumbotron {
  background: #9575CD;
  color: floralwhite; 
}

.bosom-none {
    margin-right: -15px; 
    margin-left: -15px;  
}

.navbar-inverse {
  background-color: #512DA8; 
}

.navbar{
    height: 150px;
}

body {
    padding: 0px 0px 0px 0px;
    z-index: 0; 
    margin: 0;
    overflow-x: hidden;
}

/* Defines the location, font-size, color etc. of the text/caption present in the carousel/top-page slider*/
.carousel-caption {
    top: 80;
    left: -1000;
    bottom: auto;
    text-decoration: none;
    color: black;
    font-weight:900;
}

#carouselCaptionA {
    color: #000033;
    font-weight:2000;
    font-size: 44px;
}

#carouselCaptionB {
    margin-top: -25;
    color: #ffff00;
    margin-left: ;
    font-weight:2000;
    font-size: 44px;    
}

#carouselCaptionC {
    margin-top: -25;
    margin-left: 79;
    color: #660000;
    font-weight:4000;
    font-stretch: semi-expanded;
    font-size: 44px;
}

.carousel .item img {
    max-width: 100%;
    max-height: 100%;
 }
.no-spacing-a {
    margin-left: -15px;
    padding-left: 0;
    margin-right: -15px;
    padding-right: 0;
    
}


/* The side navigation menu. Help taken from tutorialpoint */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/*Settings of the image in the main navigation bar*/
.sidenav img {
    width: 70%;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}

/*Position of the image in the main navigation bar*/
#logoImage{
    padding-bottom: 20%;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color:navajowhite;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* TABLE CLASSES. 
    THIS CODE WAS TAKEN FROM https://css-tricks.com/making-charts-with-css/
    The intention was/is not to copy/paste but to add interactivity within the page using such charts. Hence the code was extensively modified and customized to fit according to the requirments of this webapp.
*/ 

#q-graph {
  display: block;
  /* fixes layout wonkiness in FF1.5 */
  position:relative;
  width: 600px;
  height: 300px; 
/*  margin: 1.1em 0 0; */
  padding: 0;
  background: transparent;
  font-size: 11px;
}

#q-graph caption {
  caption-side: top;
  width: 600px;
  text-transform: uppercase;
  letter-spacing: .5px;
  top: -40px;
  position: relative;
  z-index: 10;
  font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td {
  position: absolute;
  bottom: 0;
  width: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}

#q-graph td {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#q-graph td:hover {
  background-color: #4d4d4d;
  opacity: .9;
  color: white;
}

#q-graph thead tr {
  left: 100%;
  top: 50%;
  bottom: auto;
  margin: -2.5em 0 0 5em; 
}

#q-graph thead th {
  width: 7.5em;
  height: auto;
  padding: 0.5em 1em; 
}

#q-graph thead th.sent {
  top: 0;
  left: 0;
  line-height: 2;
}

#q-graph thead th.paid {
  top: 2.75em;
  line-height: 2;
  left: 0;
}

#q-graph thead th.luxury {
  top: 5.5em;
  line-height: 2;
  left: 0;
}


#q-graph tbody tr {
  height: 296px;
  padding-top: 2px;
  border-right: 1px dotted #C4C4C4;
  color: #AAA;
}

#q-graph #q1 {
  left: 0;
}

#q-graph #q2 {
  left: 130px;
}

#q-graph #q3 {
  left: 260px;
}

#q-graph #q4 {
  left: 390px;
  border-right: none;
}

#q-graph tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}

#q-graph .bar {
  width: 30px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
}

#q-graph .bar p {
  margin: 5px 0 0;
  padding: 0;
  opacity: .4;
}

#q-graph .sent {
  left: 13px;
  background-color: #39cccc;
  border-color: transparent;
}

#q-graph .paid {
  left: 46px;
  background-color: #7fdbff;
  border-color: transparent;
}

#q-graph .luxury {
  left: 79px;
  background-color: #0797dd;
  border-color: transparent;
}

#ticks {
  position: relative;
  top: -300px;
  left: 2px;
  width: 596px;
  height: 300px;
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
    
}

#ticks .tick {
  position: relative;
  border-bottom: 1px dotted #C4C4C4;
  width: 600px;
    
}

#ticks .tick p {
  position: absolute;
  left: -5em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}

/* Thumbnail images for family acatar*/
.thumbnail {
    position: relative;
    padding: 0px;
    
    
}

.thumbnail img {
    width: 100%;
    margin-bottom: 0px;
}

/* FORMATTING AND CSS DONE FOR THE TEXT AND OTHER ELEMENTS FOR THE ACTIVITY PAGE ACCORDIAN*/
.past-rides h1 {
    font-size: 21;
    font-weight:500;
    line-height:1.5;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
}

.past-rides h2 {
    font-size: 15;
    font-weight:400;
    line-height:1.5;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
}

.past-rides h3 {
    font-size: 12;
    font-weight:400;
    line-height:1.5;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
}

/* Styles for the Settings page forms fields. */
.settings-form-label {
    color: #0099cc;
    font-weight: 500;
    font-size: 19;
}

.settings-form-field {
    background: #6699ff;
    font-weight: 400;
    font-size: 17;
    color: darkblue

}

/* Since the placeholder text in the form is always grey in colour. This code attempts to change that i.e color along with
    other styles so that the placeholder text looks more visually appealing */

::-webkit-input-placeholder {
 font-size: 14px;
 color: #003366;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align:left;
 font-weight: bold;
}


:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 color: #003366;
 text-transform: uppercase;
 text-align: left;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 14px;
 color: #003366; 
 text-transform: uppercase;
 text-align: left;
 font-weight: bold;
} 
:-ms-input-placeholder { 
 font-size: 14px; 
 color: #003366;
 text-transform: uppercase;
 text-align: left;
 font-weight: bold;
}

/*Styles for infographics (BOXES) present in the Home and Activity page */
.info-graphic {
    position: relative;
    width: 100%;
    background-color: navajowhite;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.4);
    
}

.info-graphic-content {
    position: relative;
    background: #FFF;
    text-align: center;
    padding: 36px 16px 16px;
    
}

/* These will be individually customized per content box. Those on the the top are global and applied to each box while those below are specific to each particular box */

.info-graphic-content__firstBox h4 {
    font-family:"Noto Sans", Helvetica, Arial, sans-serif;
    font-weight:800;
    font-size: 40px;
    color:#0087be;
    text-align:center;
    margin-top: -20px;
}

.info-graphic-content__firstBox h5 {
    font-family:"Noto Sans", Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size:16px;
    color:#0087be;
    font-style: italic;
    text-align:center;
    padding-top: -5px;
    margin-top: -13px;
    line-height: 1.5;
}

.info-graphic-content__firstBox p {
    min-height:0;
    font-size:15px;
    font-weight:600;
    line-height:1.5;
    color:#0087be!important;
    padding:0;
}


.info-graphic-content__firstBox{
    border-bottom: 2px solid blue;    
}

.info-graphic-content .info-graphic__topImage{
    position: absolute;
    top: -36px;
    left: 0;
    right: 0;
    width: 72px;
    height: 72px;
    background-size: 72px 72px;
    margin: 0 auto;
}

.info-graphic-content__firstBox__firstBoxImage{
    background-image:url(../img/firstImage.png);
}

/*Second Box*/
.info-graphic-content__secondBox h4 {
    font-family:"Noto Sans", Helvetica, Arial, sans-serif;
    font-weight:800;
    font-size: 40px;
    color:green;
    text-align:center;
    margin-top: -20px;
}

.info-graphic-content__secondBox h5 {
    font-family:"Noto Sans", Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size:16px;
    color:green;
    font-style: italic;
    text-align:center;
    padding-top: -5px;
    margin-top: -13px;
    line-height: 1.5;
}


.info-graphic-content__secondBox p {
    min-height:0;
    font-size:15px;
    font-weight:600;
    line-height:1.5;
    color:green;
    padding:0;
}

.info-graphic-content__secondBox{
    border-bottom: 2px solid green;
}


.info-graphic-content__secondBox__secondBoxImage{
    background-image:url(../img/secondImage.png);
}


/*third Box*/
.info-graphic-content__thirdBox h4 {
    font-family:"Noto Sans", Helvetica, Arial, sans-serif;
    font-weight:800;
    font-size: 40px;
    color:darkorange;
    text-align:center;
    margin-top: -20px;
}

.info-graphic-content__thirdBox h5 {
    font-family:"Noto Sans", Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size:16px;
    color:darkorange;
    font-style: italic;
    text-align:center;
    padding-top: -5px;
    margin-top: -13px;
    line-height: 1.5;
}


.info-graphic-content__thirdBox p {
    min-height:0;
    font-size:15px;
    font-weight:600;
    line-height:1.5;
    color:darkorange;
    padding:0;    
}

.info-graphic-content__thirdBox{
    border-bottom: 2px solid darkorange; 
}


.info-graphic-content__thirdBox__thirdBoxImage{
    background-image:url(../img/thirdImage.png);   
}

/*fourth Box*/
.info-graphic-content__fourthBox h4 {
    font-family:"Noto Sans", Helvetica, Arial, sans-serif;
    font-weight:800;
    font-size: 40px;
    color:salmon;
    text-align:center;
    margin-top: -20px;
}

.info-graphic-content__fourthBox h5 {
    font-family:"Noto Sans", Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size:16px;
    color:salmon;
    font-style: italic;
    text-align:center;
    padding-top: -5px;
    margin-top: -13px;
    line-height: 1.5;
}

.info-graphic-content__fourthBox p {
    min-height:0;
    font-size:15px;
    font-weight:600;
    line-height:1.5;
    color:salmon;
    padding:0;    
}

.info-graphic-content__fourthBox{
    border-bottom: 2px solid salmon;
}


.info-graphic-content__fourthBox__fourthBoxImage{
    background-image:url(../img/fourthImage.png);
}